.card{
    position: relative;
    width: 22.5%;
    height: 37vh;
    border: .1vw solid rgba(95, 158, 160, 0.322);
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    animation: cardIn .5s ease forwards;
}
@keyframes cardIn {
    100%{
        opacity: 1;
    }
}
.card img{
    width: 40%;
    height: 40%;
}
.card h1{
    font-size: 5vh;
    font-weight: 700;
    color: rgb(38, 65, 66);
}
.card p{
    color: rgb(74, 125, 127);
    font-size: 2vh;
}
.favBtn{
    position: absolute;
    right: 1vh;
    top: 1vh;
    font-size: 4vh;
    background-color: transparent;
    border: none;
    color: cadetblue;
    transition: all .25s ease;
}
.favBtn:hover{
    color: rgb(116, 196, 198);
}